#game {
  background-color: lighten($color: tan, $amount: 20);
  overflow-x: hidden;
  
  .dashboard {
    height: 100vh;
    margin: 0;
    

    h1,h2,h3,h4,h5,h6 {
      color: darken($color: tan, $amount: 50) !important;
      text-transform: capitalize;
    }

    a {
      text-decoration: none;
    }
    
    .sidebar {
      height: 100vh;
      background-color: tan;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 0;


      #join-link {
        position: absolute;
        z-index: -100;
        opacity: 0;
      }

      .menu-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          margin: 0 5px;
        }

        #show-game-mobile {
          display: none;
        }
      }

      &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        padding: 2%;
      
        a {
          text-align: center;
          color: green;
        }

      }

     
      .chat-box {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 68%;
        border-top: 2px solid darken($color: tan, $amount: 20);
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        #chat-messages {
          overflow-y: auto;
          display: flex;
          flex-direction: column-reverse;
          padding: 10px;

          &::-webkit-scrollbar {
            width: 3px;
            border-radius: 5px;
          }
          
            // Track 
          &::-webkit-scrollbar-track {
            background: transparent 
          }
           
          // Handle
          &::-webkit-scrollbar-thumb {
            background: darken($color: tan, $amount: 15); 
            max-height: 5px;
            border-radius: 10px;
          }
          
          // Handle hover
          &::-webkit-scrollbar-thumb:hover {
            background: #555; 
          }

          .messages-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            div {
              width: 70%;
              padding: 5px 10px;
              margin-bottom: 3px;
              background-color: darken($color: tan, $amount: 10);
              border-radius: 10px;
              color: darken($color: tan, $amount: 50);
              display: flex;
              flex-direction: column;
              align-items: flex-end;

              p {
                margin: 0;
                // max-width: 100%;
              }

              small {
                font-size: 12px;
                opacity: .5;
              }
            }

            div.left {
              align-self: flex-start;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }
          }
          
        }

        #chat {
          .form-group {

            label {
              width: 100%;
              overflow: hidden !important;
              background-color: lighten($color: tan, $amount: 20);
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 2%;

              button {
                background-color: transparent;
                padding: 0;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &:focus {
                  outline: none;
                  border: none;
                }
              }
              
              i {
                color:  grey//darken($color: tan, $amount: 40);
              }

              #msg {
                background-color: lighten($color: tan, $amount: 20);
                border: none;
                flex-grow: 1;

                &:focus{
                  border-color: transparent;
                  box-shadow: none;
                }
              }
            }

            label.active {
              border-color: darken($color: tan, $amount: 20);
              box-shadow: 0 0 3px 1px darken($color: tan, $amount: 20);
            }
          }
        }
      }

      .emojis {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        
        div {
          margin: 1px;
          background-color: grey;
          padding: 4px 6px;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      height: 100vh;
      align-items: center;
      justify-content: flex-start;
      padding: 5% 2%;
      .error-message {
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        height: 100%;
        text-align: center;

        i {
          font-size: 100px;
          margin-bottom: 2%;
        }
      }

      .scores {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
      }

      .board {
        height: 300px;
        width: 300px;

        .game {
          height: 100%;
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          div {
            height: 98px;
            width: 98px;
            margin: 1px;
            background-color: tan;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            font-weight: 500;
          }
        }

        .disable {
          user-select: none;
          pointer-events: none;
        }
      }

      .toggle-buttons {
        position: absolute;
        bottom: 4%;

        .reset, #hide-game-mobile {
          display: none;
        }

        #reset {
          display: inline-block;
        }
        
      }
    }
    
  } 

  @media (max-width: 993px) {
    .dashboard {
      .content {
        height: calc(var(--vh, 1vh) * 100);
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: 9;
        background-color: lighten($color: tan, $amount: 20);
        text-align: center;
        transform: translateX(-110vw);

        .toggle-buttons {
          #hide-game-mobile {
            display: inline-block;
          }
        }
      }

      .content-show {
        transform: translateX(0);
      }

      .sidebar {
        height: 100vh;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        margin: 0 auto;

        .menu-buttons {
  
          #show-game-mobile {
            display: inline-block;
          }
        }
        
        #chat > div > div {
          display: none;
        }
      }
    }

  }
}


